.dropDownRemoveButtonContainer {
    z-index: 100;
    position: relative;
    margin-right: 55px;
}

.dropDownRemoveButtonContainer button {
    border: 1px solid #59c4e1;
    color: #59c4e1;
    background: rgba(28, 29, 29, 0.7);
    padding: 10px 10px 10px;
    cursor: pointer;
    position: absolute;
}

.optionContainer {
    justify-content: center;
    margin: 0;
}

.optionContainer span {
    font-size: calc(30pt - 1pt);
    margin-right: calc(20px - 1px);
    z-index: 100;
    cursor: pointer;
    padding: 5px 10px 5px;
}

.optionContainer span:hover {
    color: #59c4e1;
}