#navContainer {
    border-bottom: 2px solid #59c4e1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 3.5rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#profileWrapper {
    min-height: 100vh;
    text-align: center;
}

#profileMain {
    min-height: calc(100vh - 150px);
    border: #59c4e1 2px solid;
    border-radius: 20px;
    margin-left: 24%;
    margin-right: 24%;
    border-bottom: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#iconsContainer {
    text-align: center;
    overflow: hidden;
    z-index: 100;
    margin-top: -10px;
    padding-top: 30px;
}

.dumbellLogo {
    font-size: 35pt;
    margin-right: 20%;
    margin-top: -10%;
    display: inline-block;
    cursor: pointer;
}

.pencilLogo {
    font-size: 35pt;
    margin-left: 20%;
    margin-top: -10%;
    display: inline-block;
    cursor: pointer;
}

.pencilLogo:hover,
.dumbellLogo:hover {
    color: #59c4e1;
    opacity: 0.9;
}