#navContainer {
    border-bottom: 2px solid #59c4e1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 3.5rem;
    min-width: 300px;
    max-width: calc(100% - 100px);
    width: calc(50% - 100px);
    margin-left: auto;
    margin-right: auto;
}

#profileWrapper {
    min-height: 100vh;
}

#profileMain {
    min-height: 10vh;
    max-height: 100vh;
    height: calc(75vh - 10px);
    border: #59c4e1 2px solid;
    border-radius: 20px;
    margin-left: calc(32% - 110px);
    margin-right: calc(32% - 110px);
    border-bottom: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow-y: scroll;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#profileMain::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

#profileMain {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.dumbellLogo {
    color: white;
    font-size: 35pt;
    margin-left: 20%;
    margin-top: -3%;
    display: inline-block;
    cursor: pointer;
}

.pencilLogo {
    color: white;
    font-size: 35pt;
    margin-right: 20%;
    margin-top: -3%;
    display: inline-block;
    cursor: pointer;
}

.pencilLogoActive {
    color: #59c4e1;
    font-size: 35pt;
    margin-right: 20%;
    margin-top: -3%;
    display: inline-block;
    cursor: pointer;
}

.dumbellLogoActive {
    color: #59c4e1;
    font-size: 35pt;
    margin-left: 20%;
    margin-top: -3%;
    display: inline-block;
    cursor: pointer;
}

.pencilLogo:hover,
.dumbellLogo:hover,
.dumbellLogoActive:hover,
.pencilLogoActive:hover {
    color: #59c4e1;
    opacity: 0.9;
}

.logContainer {
    display: inline-flex;
    border: #59c4e1 solid 2px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: rgba(89, 196, 225, 0.05);
    margin: 10pt;
    min-width: 2%;
    width: calc(95% - 20px);
    position: relative;
    font-size: 12pt;
}

.logContainer:hover {
    background: rgba(89, 196, 225, 0.5);
    cursor: pointer;
}

.date {
    position: absolute;
    right: 30%;
    font-size: calc(30pt - 20pt);
}

.workoutName {
    position: relative;
    margin-left: 10%;
    font-size: calc(60pt - 50pt);
}

#addRoutine {
    position: absolute;
    bottom: 0;
    margin-bottom: calc(1% + 70px);
    margin-left: 2%;
}

#addRoutine span {
    color: #202020;
    background: #59c4e1;
    border: #202020 2px solid;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    -ms-border-radius: 1000px;
    -o-border-radius: 1000px;
    font-size: calc(46pt - 10pt);
    padding: 0px 25px 0px;
    float: right;
    cursor: pointer;
}

#addRoutine span:hover {
    font-size: calc(47pt - 10pt);
}

.addExerciseForm {
    text-align: center;
}

.addExerciseForm input {
    width: 60%;
    font-size: 15pt;
    margin: 2%;
    border: 2px solid #202020;
    background-color: rgba(89, 196, 225, 0.1);
    color: #59c4e1;
    outline: none;
}

.addExerciseForm input:focus {
    border: 2px solid #59c4e1;
}

.saveButton {
    background-color: #202020;
    border: 2px solid #59c4e1;
    color: #59c4e1;
    font-size: 16pt;
    padding: 3pt 25pt 3pt;
    cursor: pointer;
}

.saveButton:hover {
    animation: hover 0.6s ease-in-out;
    -webkit-animation: hover 0.6s ease-in-out;
}

@keyframes hover {
    0% {
        background-color: #202020;
        border: 2px solid #59c4e1;
        color: #59c4e1;
    }
    50% {
        background-color: #59c4e1;
        border: 2px solid #202020;
        color: #202020;
    }
    75% {
        padding: 5pt 35pt 5pt;
    }
    100% {
        padding: 3pt 30pt 3pt;
    }
}

.routineSettings {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    z-index: 100;
}

.deleteButton {
    border: #202020;
    color: #202020;
    background: #59c4e1;
    border-radius: 20px;
    font-size: calc(30pt - 20pt);
    padding: 10px 15px 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
    position: absolute;
    right: 5%;
}

.deleteButton:hover {
    border: #59c4e1;
    color: #59c4e1;
    background: #202020;
}

.setDiv {
    display: block;
}

.setForm {
    display: inline-flex;
}

.setForm input {
    display: inline-flex;
}

.exerciseContainer {
    display: inline-flex;
    border: #59c4e1 solid 2px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: rgba(89, 196, 225, 0.05);
    margin: 10pt;
    width: 85%;
}

.exerciseContainer:hover {
    background: rgba(89, 196, 225, 0.2);
    cursor: pointer;
}